* {
    line-height: 1.5;
    margin: 0;
  }

  html {
    color: #888;
    font-family: sans-serif;
    text-align: center;
  }

  body {
    left: 50%;
    margin: -43px 0 0 -150px;
    position: absolute;
    top: 50%;
    width: 300px;
  }

  h1 {
    color: #555;
    font-size: 2em;
    font-weight: 400;
  }

  p {
    line-height: 1.2;
  }